{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'univ.css' %}" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Document</title>
</head>
<body>


  <div id="navbar"> 
  <div class="logo">
    EasyQuiz
  </div>
    <ul> 
    <li><a href="http://github.com">Link 1</a></li> 
    <li><a href="http://github.com">Link 2</a></li> 
    <li><a href="http://github.com">Link 3</a></li> 
    <li><a href="http://github.com">Link 4</a></li> 
    <li><a href="http://github.com">Link 5</a></li> 
    </ul> 
  </div> 

</body>
</html>