{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'univ.css' %}" rel="stylesheet">
    <link href="{% static 'home.css' %}" rel="stylesheet">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</head>

<body>
    <div id="navbar">
        <div class="logo">
            <img src={% static "logo.png" %}>
        </div>
        <ul>
            <li><a href="profile_admin">Profile</a></li>
            <li><a href="quiz">Logout</a></li>

        </ul>
    </div>

    <div class="row">
        <div class="col">

        </div>
        <div class="col-8">
            <br><br>
            <p class="hd1">Your Quizes</p>
            <br><br>
        </div>
        <div class="col">

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
    
                            <th scope="col">Quiz ID</th>
                            <th scope="col">Quiz Name</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in obj %}
                        <tr>
                            <td>{{ i.QuizID }}</td>
                            <td>{{ i.QuizName }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col"></div>
        </div>
    </div>


</body>

</html>